<div class="panelContainer">
    <div class="headerPanel">
        <span class="titlePanel">Mis Carpetas</span>
        <img class="arrowToggleFolder" src="../../../assets/img/app/addFolderBlue.svg" alt="" title="Crear Carpeta" (click)="newFolder()">
    </div>
    <ng-container *ngFor="let item of itemsInPanel; index as i">
        <div class="folder">
            <div #folder class="headerFolder">
                <div class="containerName">
                    <img class="arrowToggleFolder" src="../../../assets/img/app/darkArrow.svg" alt="" (click)="toggleFolder(this.folder)">
                    <span #nameFolder class="countNotes">{{item.notes.length}}</span>
                    <span #nameFolder class="nameFolder">{{item.folder.name}}</span>
                </div>
                <div class="folderControls">
                    <img (click)="newNote(this.folder, item.folder.id)" class="menuOptions addNote" src="../../../assets/img/app/addNoteBlue.svg" alt="" title="Agregar nueva nota">

                    <img (click)="contextMenu(item, $event)" class="menuOptions" src="../../../assets/img/app/menuDark.svg" alt="">
                </div>
                <div class="switchMenu" (click)="toggleFolder(this.folder)"></div>
            </div>
            
            <div #notesContainer class="notesContainer" [ngClass]="{notesContainerHidden: folderAlter == item.folder.id}">
                <div *ngIf="item.notes.length == 0" class="noNotes">
                    <img src="../../../assets/img/app/boxEmptyBlue.svg" alt="">
                    <button class="btnPrimary" (click)="newNote(this.notesContainer, item.folder.id)">Nueva nota</button>
                </div>
                
                <ng-container *ngFor="let note of item.notes; index as j">
                    <div #nameNote class="noteInFolder" [ngClass]="{noteActive: noteOnEdition.id == note.id}" (click)="selectNote(this.folder, note)">{{note.name}}</div>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>
<ng-template dynamicMenu></ng-template>